body {
    background-color: #221C35;
}

#mark1 {
    position: absolute;
    top: 0px;
}

#mark2 {
    position: absolute;
    bottom: -1px;
}

#mark3 {
    position: absolute;
    top: -1px;
    right: -1px;
}

#mark4 {
    position: absolute;
    bottom: -0.5px;
    right: -1px;
}




.row1 {
    font-size: 25px;
    text-align: center;
    margin-left: 100px;
}




#hangman {
    display: inline-block;
    background-color: yellow;
    width: 200px;
    height: 100px;
    border-radius: 15%;
    text-align: center;
    font-family: "Comic Sans MS";
   
}

/* Not ready
#tic-tac-toe {
    display: inline-block;
    background-color: blue;
    margin-left: 100px;
    width: 600px;
    height: 350px;
    border-radius: 15%;
    text-align: center;
    font-family: "Comic Sans MS";
}
*/

#block-evade {
    display: inline-block;
    background-color: green;
    margin-left: 100px;
    width: 200px;
    height: 100px;
    border-radius: 15%;
    text-align: center;
    font-family: "Comic Sans MS";
}

.row2 {
    font-size: 25px;
    text-align: center;
    margin-left: 100px;
    margin-top: 50px;
}

#solar-system {
    display: inline-block;
    background-color: darkblue;
    width: 200px;
    height: 100px;
    border-radius: 15%;
    text-align: center;
    font-family: "Comic Sans MS";

}

#earth {
    display: inline-block;
    background-color:darkcyan;
    margin-left: 100px;
    width: 200px;
    height: 100px;
    border-radius: 15%;
    text-align: center;
    font-family: "Comic Sans MS";

}
