
body {
    background-image: url('parts\\space.jpg');
    background-size: cover;
    
}



.sun {
    padding-left: 500px;
    padding-top: 190px;
}

.orbit {
    border: 0.5px white solid ;
    border-radius: 50%;
}

.earth-orbit {
    height: 500px;
    width: 500px;
    margin-top: -430px;
    margin-left: -95px;
    animation: orbit 10s linear infinite;
}

.earth {
    background-image: url('parts\\earth.jpg');
    background-size: cover;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 10s linear alternate infinite;
    box-shadow: 10px 5px 5px 3px inset;
    margin-left: 100px;
    
}

.moon-orbit {
    position: relative;
    height: 130px;
    width: 130px;
    margin-left: 75px;
    margin-top: -75px;
    animation: orbit 10s linear infinite;
}

.moon {
    position: absolute;
    left: 75px;
}


@keyframes spin {
    100% {background-position: 100%;}
}

@keyframes orbit {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
