.logo-int {
    margin-left: 550px;
    
    
}

.sect1 {
    font-family: 'Courier New', Courier, monospace;
    background-color:white;
    display: inline-block;
    padding: 55px 15x;
    margin-left: 50px;
    margin-bottom: 25px;
}
